.title{
    margin: 40px ;
    width: 60%;
    padding-bottom: 10px;
    font-size: 30px;
    color: white;
}

.menu-item {
    display: inline-block;
    position: relative;
    padding-left: 40px;
    line-height: 30px;
 }
 
 .menu-item-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-image: url('/src/imagens/casabraca2.jpg');
    background-position: left;
    background-repeat: no-repeat;
    max-width: 30px;
    background-size: cover;
 }
 .menu-item-icon2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-image: url('../imagens/download-removebg-preview.png');
    background-position: left;
    background-repeat: no-repeat;
    max-width: 30px;
    background-size: cover;
 }
 .menu-item-icon3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-image: url('../imagens/images-removebg-preview.png');
    background-position: left;
    background-repeat: no-repeat;
    max-width: 70px;
    background-size: cover;
 }
 .perfil-circular {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   object-fit: cover;
	
 }
 .container {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   height: 20vh;
 }
 
 .imagem-centro {
   position: relative;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   max-width: 100%;
   max-height: 100%;
   
 }
 
 .container {
   display: flex;
   height: 30vh;
 }
 
 .sidebar {
   width: 30%;

 }
 
 .content {
   width: 70%;
   padding-top: 100px; 
   padding-right: 20px; 
   padding-bottom: 30px; 
   padding-left: 800px;
   padding-top: 40px; 
   padding-right: 800px; 
   padding-bottom: 1px; 
   padding-left: 10px;
 }
 
 
 .text-box {
  width: 300px;
  height: 100px;
  border-radius: 5px;
  background-color: #fff;
  margin-left: 10px;
  display: flex;
  align-items: normal;
  margin-top: -150px; 
  
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url('../imagens/Alberto.png');
  background-size: cover;
  margin-right: 10px;
}

