:root {
    --color-primary: #264653;
    --color-secondary: #2A9D8F;
    --color-text: #fefefe;

  }

body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.content{
	margin: 20px;
	padding: 20px;

}


.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 40px 20px;
	display: flex;
	border-radius: 8px;

  }
  
  .section-title {
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
	padding: 14px;
  }
  
  .section-description {
	font-size: 18px;
	text-align: justify;
	margin-bottom: 20px;

  }
  


.sec-tit-projeto {
	background: rgb(227, 226, 226);	
    background: linear-gradient(180deg, var(--color-primary) 0%, var(--color-secondary) 100%);

	height: 15vh;
}

.sec-tit-projeto .fundo-titulo {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.sec-tit-projeto .fundo-titulo h1 {
	font-size: 40px;
	font-weight: bold;
	color: #ffffff;
}
.content {
    margin: 0 auto;
    padding: 40px; /* ajuste o espaçamento interno conforme necessário */
    border-radius: 5px; /* adicione bordas arredondadas para suavizar a aparência */
  }
  

.sec-cards {
    background: linear-gradient(180deg, var(--color-secondary) 0%, var(--color-primary) 100%);
	width: 100%;
	height: 100%;
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sec-cards h2 {
	font-size: 36px;
}

.div-cards {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

.card-pessoal {
	background: #fff;
	width: 240px;
	max-width: 370px;
	margin-top: 2%;
	padding: 25px;

	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;

	border-radius: 24px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card-pessoal::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 40%;
	width: 100%;
	border-radius: 24px 24px 0 0;
	background-color: #4070f4;
}

.Henrique::before {
	background-color: #8fd798;
}

.Tony::before {
	/* background-color: #0a66c2; */
	background-color: #2e4f72;
}

.Luan::before {
	background-color: #01004e;
}

.Roberto::before {
	background-color: #b0e3ef;
}

.Gabriel::before {
	background-color: #fd9fc3;
}

.image {
	position: relative;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	background-color: #ffffff;
	margin-bottom: 10px;
}

.image .imagem-pessoal {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 50%;
	border: 3px solid #fff;
}

.card-pessoal .texto-infos {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #333;
}

.texto-infos .nome {
	font-size: 22px;
	font-weight: 500;
}

.texto-infos .RM {
	font-size: 15px;
	font-weight: 400;
}