:root {
    --color-primary: #264653;
    --color-secondary: #2A9D8F;
    --color-text: #fefefe;
  }

body{
  background: linear-gradient(to right, #181818, #243035);
  color: var(--color-text);
  align-items: center;
  justify-content: center;
  }

  