:root {
    --color-primary: #264653;
    --color-secondary: #2A9D8F;
    --color-text: #fefefe;
  }

body{
  background-color: #181818;
  color: var(--color-text);
  align-items: center;
  justify-content: center;
  }

  